<div class="grid-container">

  <mat-grid-list cols="2" rowHeight="90vh">

    <mat-grid-tile>
      <div class="award_img">
        <img [src]="award" alt="alan-image">
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div>
        <h1>Alan Turing</h1>
        <h3>
          The award is named after Alan Turing, who was a British mathematician and reader in mathematics at
          the University of Manchester. Turing is often credited as being the key founder of theoretical
          computer science and artificial intelligence.
        </h3>
      </div>
    </mat-grid-tile>

  </mat-grid-list>
</div>
